<div class="card-centered">
    <h2><b>Bem-vindo(a) ao Sistema Médico</b></h2>
    <p>Para começar, clique em um dos botões abaixo.</p>
    <a href="/pacientes" class="btn btn-primary">
        <span class="button">Pacientes</span>
    </a>
    <a href="/medicos" class="btn btn-primary">
        <span class="button">Medicos</span>
    </a>
    <a href="/consulta" class="btn btn-primary">
        <span class="button">Consultas</span>
    </a>
</div>